<h1>Hello First Page</h1>

<form action = "/outputs" method = "post">
<input name = "word" placeholder = "Your Word Here"></input>
<input name = "phrase" placeholder = "Your Phrase Here"></input>
<button>How Many Times Does My Word Appear?</button>
</form>
