<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<div class = "container">

<h1>Please Enter Your Word and Phrase</h1>

<form action = "/outputs" method = "post">
<input class="form-control" name = "word" placeholder = "Your Word Here"></input>
<input class="form-control" name = "phrase" placeholder = "Your Phrase Here"></input>
<button class = "btn btn-info">How Many Times Does My Word Appear?</button>
</form>


</div>
